<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Face Recognition Locker System</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
     <!--  integrity="sha384-KyZXEAg3QhqLMpG8r+Jp/w2jOTw6J1HRF5F5znr5uqtvx2+p8iEj4F+Kp7LE"  -->
</head>
<body>
    <nav class="navbar navbar-expand-lg py-2 navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/index" class="navbar-brand">
                <!-- Logo Image -->
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="45" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span class="font-weight-bold">Face Recognition Locker System</span>
            </a>

            <!-- Display the current user's name if logged in -->
            {% if 'user_id' in session %}
                <span class="navbar-text mr-2 welcome-text">Welcome, {{ session['username'] }}</span>
            {% endif %}

            <!-- Logout button if logged in -->
            {% if 'user_id' in session %}
                <form action="{{ url_for('logout') }}" method="post" class="form-inline">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            {% else %}
                <!-- Add a login link or button here for users who are not logged in -->
            {% endif %}
        </div>
    </nav>

    <!-- Your page content goes here -->

    <!-- Link to Bootstrap JS and Popper.js (required for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!--  integrity="sha384-pzjw8f+ua3RE5ndR6tq7uZY5s0mo8d0EmaTRf5f5DI1k3u6f5p3m63Vh5P5f5f5f5"  -->
</body>
</html>
